TestWorkshop/Intermediate/CachedAssetRegistry_0.bin
TestWorkshop/Intermediate/ReimportCache/3688439234.bin
TestWorkshop/Saved/AutoScreenshot.png
TestWorkshop/Saved/Config/CrashReportClient/UECC-Windows-D774F65044F359640D0EAE9B92678085/CrashReportClient.ini
TestWorkshop/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
TestWorkshop/Saved/Logs/TestWorkshop-backup-2026.03.11-09.32.51.log
TestWorkshop/Saved/Logs/TestWorkshop-backup-2026.03.11-13.30.53.log
TestWorkshop/Saved/Logs/TestWorkshop.log
